# Віртуальне оточення (локальні бібліотеки)
venv/
.venv/
env/

# Файли конфігурації з секретами (ТОКЕНИ, ПАРОЛІ)
.env

# База даних (не вивантажує локальну БД)
*.db
*.sqlite3

# Маркер ініціалізації
.venv_initialized

# Кеш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Логи роботи бота локально та на сервері
*.log
nohup.out

# Системні файли macOS та Windows
.DS_Store
Thumbs.db